body{
  text-align: center;
}


table{
  text-align: center;
}

table{


margin-right: auto;

margin-left: auto;

}
ul {
  display: inline-block; text-align: left;
}

ol{
   display: inline-block; text-align: left;
}

ul {
  display: inline-block; text-align: left;
}

ol{
   display: inline-block; text-align: left;
}



h1{

   color:#FDFFFC;
  font-family: 'Lobster', cursive;
}


p{

  color:#FDFFFC;
}


h2{

color:#FDFFFC;

}

li{

color:#FDFFFC;
}
thead{
  color:#FDFFFC;
}
table{

color:#FDFFFC;

}
td{
  background-color: #90e0ef
}



p{

  color:#FDFFFC;
}


h1{
  text-align: center;
}

p{
  text-align: center;
}

h2{
  text-align: center;
}

ul{
  text-align: center;
}
ol{
  text-align: center;
}
table{


margin-right: auto;

margin-left: auto;

}



label{
  text-align: center;
}

body{
  text-align: center;
}


ul {
  display: inline-block; text-align: left;
}

ol{
   display: inline-block; text-align: left;
}




body{

  font-family: monospace;
}


h1{

  color:#FDFFFC;
}





#one{

  color:#FDFFFC;
  shape-outside: circle();

}

#two{
font-size: 24px;
font-style: bold;

}


#three{

color:#FDFFFC;
}

#owner{

color:#FDFFFC;
}
#mayur{
  color:#FDFFFC;
}

#left{
  text-align: right;
}
body{
  background-color: black;
}

h3{
  color: white
}
h1{
  font-family: monospace;
}
